@import '../Source';

aside {

    &.brand {
        color: #fff;
        padding: 10px;
        display: block;
        text-align: center;
        background: transparent;
        font-size: 2rem;

        i {
            font-style: normal;
            color: $color-mark;
        }
    }
}
