@import '../Source';

.card {
    width: calc(100% - 30px);
    max-width: 768px;
    background: #fff;
    position: relative;
    margin: -85px auto 30px;
    border-radius: $radius;
    box-shadow: $shadow;
    overflow: hidden;

    .card-head {
        display: flex;
        padding: 15px;
        line-height: 53px;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 100;
            margin: 0;
        }
    }
}
